body {
    /* width: 1792px; /* Largeur fixe */
    /* height: 1024px; /* Hauteur fixe */
    margin: 0 auto; /* Centre horizontalement */
    /* background-color: #f0f0f0; Couleur de fond pour visualiser la taille */
    background-size: 100% 100%; /* 200% de la taille de la page */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Pas de répétition de l'image */
    background-attachment: fixed; /* L'image reste fixe pendant le défilement de la page */
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Prend toute la hauteur de l'écran */
    margin: 0;
    overflow: hidden; /* Empêche le défilement de la page */

}

@media (max-width: 780px) {
    body {
        background-attachment: local; /* L'image se déplace avec le contenu */
        background-size: cover; /* L'image couvre tout l'écran */
        background-position: center; /* Centre l'image */
        min-height: 100vh; /* Assure que le corps prend au moins toute la hauteur de l'écran */
        margin: 0; /* Supprime les marges éventuelles */
    }
   
    
}

/* Fixe le header en haut */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.entête{
    display: flex;
    
    flex-direction: row; /* Aligne les éléments horizontalement */
    justify-content: center;
    align-items: center;
    
  

    border-bottom-right-radius:20%;
    border-bottom-left-radius:20%;
    background: linear-gradient(360deg, rgba(24, 48, 94, 0.8), rgba(255, 255, 255, 0.5)); /* Dégradé */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce */
}

/* Fixe le footer en bas */
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    
    z-index: 1000;

    transform: translate(-50%); /*Décale l'élément de 50% de sa propre largeur */
    text-decoration: underline;

}

/* Le main doit défiler indépendamment */
main {
    flex-grow: 1;
    margin-top: 250px; /* Ajuste selon la hauteur du header */
    margin-bottom: 50px; /* Ajuste selon la hauteur du footer */
    overflow-y: auto; /* Active le défilement */
    padding: 20px;
}




.Chargement {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centre horizontalement */
    /*justify-content: center;  /* Centre verticalement */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: linear-gradient(360deg, rgba(24, 48, 94, 0.8), rgba(255, 255, 255, 0.5)); /* Dégradé */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce */
    min-width: 200px; /* Facultatif : Ajuste la largeur du conteneur */
    height: auto; /* Facultatif : Ajuste la hauteur du conteneur */
    max-width: 400px;
    
}
.conteneurform{   
    display: flex;
    align-items: center; /* Alignement vertical des labels et inputs */
    justify-content: center;
    gap: 20px; /* Espacement entre les colonnes labels/inputs */
    width: auto; /* Facultatif : Ajuste la largeur du conteneur */
    height: auto; /* Facultatif : Ajuste la hauteur du conteneur */
}
.form-labels {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 15px; /* Espacement entre les champs */
    width: auto; /* Facultatif : Ajuste la largeur du conteneur */
    height: auto; /* Facultatif : Ajuste la hauteur du conteneur */
}
.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacement entre les champs */
    width: auto; /* Facultatif : Ajuste la largeur du conteneur */
    height: auto; /* Facultatif : Ajuste la hauteur du conteneur */

}



.text { /* Appliquer à tous les éléments texte */
    color: white; /* Couleur du texte principale */
    text-shadow: 
        -1px -1px 0 black, /* Ombre en haut à gauche */
         1px -1px 0 black, /* Ombre en haut à droite */
        -1px  1px 0 black, /* Ombre en bas à gauche */
         1px  1px 0 black; /* Ombre en bas à droite */
}

* {
    color: white;
}
.déco{
    padding: 0;
    margin: 0;
    color:black
}

figure {
    margin: 10px;
    
    justify-content: center;
    align-items: center;
    width: auto; /* Facultatif : Ajuste la largeur du conteneur */
    height: auto; /* Facultatif : Ajuste la hauteur du conteneur */
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Pour espacer les éléments */
    flex-wrap: wrap; /* Permet d'adapter l'affichage sur les petits écrans */
}
.connexion{
    width: 50vw; /* 30% de la largeur de la fenêtre */
    height: 50vw; /* 50% de la hauteur de la fenêtre */

}

.effigie {
    width: 10vw; /* 30% de la largeur de la fenêtre */
    height: 10vw; /* 50% de la hauteur de la fenêtre */
    object-fit: cover;
    border-radius:20%;
    min-width: 100px;
    min-height: 100px;
    
}

figure audio {
    min-width: auto;
    min-height: auto;
    max-width: 200px; /* 30% de la largeur de la fenêtre */
    max-height: 200px; /* 50% de la hauteur de la fenêtre */

}
.icon{
    width: 2vw; /* 30% de la largeur de la fenêtre */
    height: 2vw; /* 50% de la hauteur de la fenêtre */
    border-radius:50%;

}
.black{
    color: black;
}
footer img{ 
    width: 2vw; /*  */
    height: 2vw;
    border-radius:50%;
    min-width: 30px;
    min-height: 30px;
}

li{
    padding: 5px;
    margin: 0;
}
.header {
    display: flex;
}


.user-info {
    margin-left: auto; /* Pousse le paragraphe vers la droite */

   margin-right: 10px;
}
.entête h1 {
    flex-grow: 1; /* Permet au titre de prendre tout l'espace disponible */
    text-align: center; /* Centre le texte horizontalement */
    margin-left: 100px; /* Supprime les marges par défaut */
    font-family: 'Times New Roman', Times, serif;
}


