body {
    /* width: 1792px; /* Largeur fixe */
    /* height: 1024px; /* Hauteur fixe */
    margin: 0 auto; /* Centre horizontalement */
    /* background-color: #f0f0f0; Couleur de fond pour visualiser la taille */
    
}





* {
    color: white;
}
.déco{
    padding: 0;
    margin: 0;
    color:black
}

figure {
    margin: 10px;
}

.container {
    display: flex;
    justify-content: space-around; /* Pour espacer les éléments */
    flex-wrap: wrap; /* Permet d'adapter l'affichage sur les petits écrans */
}
.connexion{
    width: 50vw; /* 30% de la largeur de la fenêtre */
    height: 50vw; /* 50% de la hauteur de la fenêtre */

}

figure img {
    width: 30vw; /* 30% de la largeur de la fenêtre */
    height: 30vw; /* 50% de la hauteur de la fenêtre */
    object-fit: cover;
    border-radius:20%;
}
.icon{
    width: 2vw; /* 30% de la largeur de la fenêtre */
    height: 2vw; /* 50% de la hauteur de la fenêtre */
    border-radius:50%;

}
.black{
    color: black;
}
footer img{ 
    width: 4vw; /*  */
    height: 4vw;
    border-radius:50%;
}
.fs{
    text-align: center;
}
li{
    padding: 5px;
    margin: 0;
}
.header {
    display: flex;
}

.entête{
    display: flex;
    
    flex-direction: row; /* Aligne les éléments horizontalement */
    justify-content: center;
    align-items: center;
    
  

    border-bottom-right-radius:20%;
    border-bottom-left-radius:20%;
    background: linear-gradient(360deg, rgba(24, 48, 94, 0.8), rgba(255, 255, 255, 0.5)); /* Dégradé */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce */
}

.user-info {
    margin-left: auto; /* Pousse le paragraphe vers la droite */

   margin-right: 10px;
}
.entête h1 {
    flex-grow: 1; /* Permet au titre de prendre tout l'espace disponible */
    text-align: center; /* Centre le texte horizontalement */
    margin-left: 100px; /* Supprime les marges par défaut */
    font-family: 'Times New Roman', Times, serif;
}