<!DOCTYPE html>
<html lang="fr">
<head>
    
    <title>Connexion</title>
    <link rel="icon" href="static/dophinicone.png" type="image/png">


    <meta name="viewport" content="width=device-width, initial-scale=0.5">

    <style>
        .foot{
            width: 2vw;
            height: 2vw;
            border-radius:50%;

        }
        .white{
            color: white;
        }
    </style>
</head>
<body background="static/dophin.png" content="width=device-width, initial-scale=1.0">
    <h1 class="white"> Philorama </h1>
    <div class="Connexion">
        <h2 class="white">Connexion</h2>
        <form action="{{ url_for('login') }}" method="POST">
            <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>
    </div>
    <!-- Section principale -->
    <p class="white">{{message}}</p>
    

    <!-- Pied de page -->
    <footer class="white">
        <p>&copy; <img class="foot" src="static/dophin.png" > 2024 Philorama. Tous droits réservés.</p>
    </footer>

</body>
</html>
