<!DOCTYPE html>
<html lang="fr">
<head>
    
    <title>Contact</title>
</head>
<body>

    <!-- En-tête de la page -->
    <header>
        <h1>Page contact</h1>

        <nav>
            <ul>
                <li><a href="{{ url_for('Home') }}">Accueil</a></li>
            </ul>
        </nav>
        
    </header>

    <!-- Section principale -->
     
    <main>
        <img src = "static/photo de moi.jpg" weight = "200"height = "260" >
        <p>Tel: +33 xx xx xx xx xx</p>
        <p>email: mister-J23@gmail.com</p>
        
    </main>

    <!-- Pied de page -->
    <footer>
        <p>&copy; 2024 ENI2. Tous droits réservés.</p>
    </footer>

</body>
</html>
