<!DOCTYPE html>
<html lang="fr">
    <head>
    
        <meta charset ="utf 8">
        <title>Oeuvres</title>
        <link class="icon" rel="icon" href="static/photo/dauphin.png" type="image/png">
        <link rel ="stylesheet" href ="{{ url_for ('static', filename='css/style2.css')}}">
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    </head>
<body background="static/Bibliotheque.jpeg">

    <header>
        <!-- En-tête de la page -->
        <div class="entête">
            <h1>Oeuvres</h1>
            <div class="user-info">
                <p>Nom: {{ username }}</p> 
                <p>Groupe: {{ groupe }}</p>
            </div>
         </div>
    
        

        <nav>
            <ul>
                <li><a class="text" href="{{ url_for('Home') }}">Accueil</a></li>
                <li><a class="text" href="{{ url_for('personnages') }}">Personnages</a></li>
                <li>
                    <button class="déco" onclick="window.location.href='{{ url_for('déconnexion') }}'">Déconnexion</button>
                </li>
            </ul>
        </nav>
        
        
    </header>

    <!-- Section principale -->
     
    <main class="container">
         <!-- J'affiche les image de livre de chaque auteurs contenus dans la table Authors. La correspondance se fait via la clé étrangère -->
        <figure>
            {% for item in items %}
            <a href="{{ url_for('get_bio', id=item.id_author) }}" target="_blank">
                <img class="effigie" src="{{ url_for('get_photoOeuvres', id=item.id_author) }}">
            </a>
            <figcaption class="text" >{{ item.name }}</figcaption>
            {% endfor %}
        </figure>
        
       
    </main>

    <!-- Pied de page -->
    <footer class="fs" >
        <p class="text">&copy; <img src="static/photo/dauphin.png" > 2024 Philorama. Tous droits réservés.</p>
    </footer>

</body>
</html>
