<!DOCTYPE html>
<html lang="fr">
<head>
    
    <meta charset ="utf 8">
    <title>Images</title>
    <link rel ="stylesheet" href ="{{ url_for ('static', filename='style2.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body background="static/spaceman.png" >

    <!-- En-tête de la page -->
    <header>
        <h1>Personnages</h1>

        <nav>
            <ul>
                <li><a href="{{ url_for('Home') }}">Accueil</a></li>
                <li><a href="{{ url_for('oeuvres') }}">Oeuvres</a></li>
                <!-- Condition pour afficher "Enregistrement" uniquement si l'utilisateur est Admin -->
                {% if session['groupe'] == 'Admin' %}
                <li><a href="{{ url_for('Page_chargement') }}">Enregistrement</a></li>
                {% endif %}
                <li><a href="{{ url_for('déconnexion') }}"><p class="déco">Déconnexion</p></a></li>
            </ul>
        </nav>
        
    </header>

    <!-- Section principale -->
     
    <main class="container">
        

        {% for item in items %}
            <figure>
                {% if session['groupe'] == 'Admin' %}
                <!-- Ajout de la croix pour supprimer l'élément -->
                <form action="{{ url_for('delete_item', id=item.id) }}" method="POST" style="display: inline;">
                    <button type="submit" style="border:none; background:none; cursor:pointer;">
                        <img class="icon" src="{{ url_for('static', filename='croix.png') }}">
                    </button>
                </form>
                {% endif %}

                <img src="{{ url_for('get_photo', id=item.id) }}">
                <figcaption>{{ item.nom }} {{ item.naissance }}-{{ item.mort }}</figcaption>
                <audio controls>
                    <source src="{{ url_for('get_audio', id=item.id) }}" type="audio/mpeg">
                    Votre navigateur ne supporte pas la lecture de ce fichier audio.
                </audio>
            </figure>
        {% endfor %}

        
    </main>

    <!-- Pied de page -->
    <footer>
        <p>&copy; 2024 ENI2. Tous droits réservés.</p>
    </footer>

</body>
</html>
