<!DOCTYPE html>
<html lang="fr">
<head>
    
    <title>Philorama</title>
    <link rel="icon" href="static/dophinicone.png" type="image/png">

    <link rel ="stylesheet" href ="{{ url_for ('static', filename='style2.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body background="static/dophin.png" >

    <!-- En-tête de la page -->
     <div class="entête">
        <h1> Philorama </h1>
        <div class="user-info">
            <p>Nom: {{ username }}</p> 
            <p>Groupe: {{ groupe }}</p>
        </div>
     </div>
    <header>
       
        <nav>
            <ul>
                <li><a href="{{ url_for('personnages') }}">Personnages</a></li>
                <li><a href="{{ url_for('oeuvres') }}">Oeuvres</a></li>
                <li><a href="{{ url_for('Contact') }}">Contact</a></li>
                <li>
                    <button class="déco" onclick="window.location.href='{{ url_for('déconnexion') }}'">Déconnexion</button>
                </li> 
            </ul>
        </nav>

    </header>

    <!-- Section principale -->
     
    <main>
        <section>
            <h2>À propos de nous</h2>
            
        </section>
    </main>

    <!-- Pied de page -->
    <footer>
        <p>&copy; <img src="static/dophin.png"> 2024 Philorama. Tous droits réservés.</p>
    </footer>

</body>
</html>
