/* Style de base pour chaque menu déroulant */
.dropdown {
    position: relative;

    display: inline-block;
}

/* Masque le menu par défaut */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
}

/* Style pour chaque élément du menu */
.dropdown-menu li {
    padding: 8px 16px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

/* Affiche le menu déroulant lorsqu'on coche le checkbox */
.menu-toggle:checked ~ .dropdown-menu {
    display: block;
}

/* Cacher les checkboxes */
.menu-toggle {
    display: none;
}
